.faq-container {
  border-radius: 8px;
  overflow: hidden;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.faq-item .faq-trigger {
  width: 100%;
  text-align: left;
  background-color: var(--gray);
  border-radius: 8px;
  border: none;
  padding: 16px;
  font-size: 1.125rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.faq-item .faq-trigger .faq-trigger:hover {
  opacity: .9;
}

.faq-item .faq-trigger .faq-icon {
  font-size: var(--text-2xl);
  font-weight: 600;
}

.faq-content {
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}
.faq-content .faq-content-inner {
  padding: 12px 16px;
}