.faq-container {
  border-radius: 8px;
  overflow: hidden;
}
.faq-list {
  gap: 0;
}
.faq-item {
  border-top: 1px solid var(--border-default);
  border-radius: 0;
}
.faq-item[data-collapse="true"] {
  border-top: 1px solid var(--border-neutral);

}
.faq-item .faq-trigger {
  width: 100%;
  text-align: left;
  background-color: transparent;
  padding: 18px;
  font-size: var(--text-base);
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.faq-item .faq-trigger .faq-trigger:hover {
  opacity: .9;
}

.faq-item .faq-trigger .faq-icon {
  font-size: var(--text-2xl);
  font-weight: 600;
}

.faq-content {
  margin-bottom: 18px;
}