.btn {
  width: 100%;
	padding: 12px 24px;
  border: none;
	font-size: 1rem;
	font-weight: 600;
	cursor: pointer;
	letter-spacing: 0.5px;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  transition: all .2s ease-in-out;
}
.btn:hover {
  opacity: .9;
}
.btn.btn-primary {
  color: var(--light);
  background-color: var(--primary);
}
.btn.btn-secondary {
  background-color: var(--light);
	color: var(--neutral);
}