.accordion {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 2px;
}

.accordion-item {
  border-radius: 8px;
}

.accordion-trigger {
  width: 100%;
  padding: 24px 12px;
  text-align: left;
  border-radius: 8px;
  background-color: var(--gray);
  color: var(--neutral);
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--text-xl);
  font-weight: 600;
}
.accordion-content {
  background-color: var(--light);
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  /* border-bottom: 1px solid var(--border-default); */
}
.accordion-content-wrapper {
  padding: 16px;
  line-height: var(--leading-normal);
}

.accordion-item.open .accordion-content {
  display: block;
}