.pricing-card {
	height: 100%;
  background: var(--light);
  padding: 38px 16px 16px;
  position: relative;
  border: 1px solid var(--border-default);
	border-radius: 12px;
	color: var(--neutral);
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.pricing-card.recommended {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--light);
}
.pricing-card.recommended .plan-description {
  color: var(--light);
}
.pricing-card.recommended .plan-price * {
  color: var(--light)!important;
}
.pricing-card.recommended .pricing-card-bottom .value-stack .stack-item .check-icon {
	border-color: var(--light);
}
.pricing-card.recommended .pricing-card-bottom .value-stack .stack-item .check-icon::after {
  color: var(--icon-light);
}
.pricing-card .recommended-badge {
	position: absolute;
	top: -24px;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--light);
	color: var(--primary);
	padding: 12px 18px;
	border-radius: 5px;
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.25);
	font-size: var(--text-sm);
	font-weight: 600;
  letter-spacing: .2px;
  text-transform: uppercase;
}

/* ===== PRICING CARD TOP ===== */
.pricing-card-top {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.pricing-card-top .plan-name {
	font-size: var(--text-xl);
	font-weight: 600;
	margin-bottom: 10px;
}
.pricing-card-top .plan-description {
	color: var(--muted);
	font-size: var(--text-sm);
	margin-bottom: 16px;
}
.pricing-card-top .plan-price {
  display: flex;
  gap: 8px;
  align-items: flex-end;
}
.pricing-card-top .plan-price .price-detail {
	font-size: var(--text-xl);
	display: flex;
	align-items: baseline;
	gap: 16px;
}
.pricing-card-top .plan-price .price-detail .strikethrough-price {
	text-decoration: line-through;
	color: var(--muted);
}
.pricing-card-top .plan-price .price-detail .amount-price {
  font-size: var(--text-4xl);
  font-weight: 600;
}
.pricing-card-top .plan-price .period {
	font-size: var(--text-base);
	font-weight: 400;
}
.pricing-card-top .plan-discount-info {
	font-size: var(--text-sm);
	margin-top: 16px;
}
.pricing-card-top .plan-cta {
  margin-top: 28px;
}
.pricing-card-top .annual-only-badge {
	display: inline-block;
	align-self: self-start;
  color: var(--primary);
  font-size: var(--text-sm);
  font-weight: 600;
  padding: 0.25rem 0.5rem;
	border: 1px solid var(--primary);
  border-radius: 0.375rem;
}
/* ===== END OF PRICING CARD TOP ===== */

/* ===== PRICING CARD BOTTOM ===== */
.pricing-card-bottom {
	display: none;
}
/* ===== END OF PRICING CARD BOTTOM ===== */

/* === RESPONSIVE VERSION === */
@media (min-width: 768px) {
	.pricing-card {
		padding: 38px 24px 24px;
	}
	.pricing-card .recommended-badge {
		padding: 12px 24px;
	}
	.pricing-card-top {
		height: 250px;
	}
	.pricing-card-top .plan-name {
		font-size: var(--text-2xl);
	}
	.pricing-card-top .plan-description {
		font-size: var(--text-base);
	}
}

@media (min-width: 1024px) {
	.pricing-card-bottom {
		display: block;
	}
}